/*** INTRO PROPERTIES ***/
/* #intro {
    width: 100%;
    text-align: center;
}

#intro h1 {
    font-family: 'Bad Script', 'Brush Script MT', cursive;
    font-size: 96px;
    margin: 0.1em 0 0 0.5em;
}

#intro p {
    width: 55%;
    margin: auto;
    font-size: 20px;
} */
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: var(--font);
}

#intro-text {
    height: 100%;
    color: white;
    animation: fadeIn 3s;
}

#intro h1 {
    font-family: 'Bad Script', 'Brush Script MT', cursive;
    font-size: 96px;
    margin: 0.1em 0 0 0.5em;
}

#intro p {
    width: 55%;
    margin: auto;
    font-size: 20px;
}

#intro-image {
    display: block;
    animation: fadeIn 3s;
}
#intro-image img {
    max-height: 650px;
    width: auto;
    height: auto;
    margin-left: 100px;
    margin-top: 5px;
}

#triangle-topleft {
    justify-self: flex-start;
    align-self: flex-start;
    width: 0;
    height: 0;
    border-top: 100px solid var(--alternate);
    border-right: 100px solid transparent;
}
#triangle-bottomright {
    justify-self: end;
    align-self: flex-end;
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--alternate);
    border-left: 100px solid transparent;
  }

/*** MAIN CONTENT LAYOUT PROPERTIES ***/
#main-content-area {
    width: 100%;
}

#main-content-area section {
    margin: 2em 0 0 1em;
}

/*** SIDEBAR PROPERTIES ***/
#sidebar {
    vertical-align: top;
    display: inline-block;
    position: sticky;
    top: 100px;
    width: 25%;
    min-width: 250px;
    max-width: 330px;
}

#sidebar-content {
    padding: 1em;
    text-align: center;
}

#sidebar-header {
    background-color: var(--tertiary);
    display: flex;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    margin: 0;
}

.header-button {
    height: 60px;
    width: 60px;
    border: none;
    background: none;
    color: var(--alternate);
    font-size: 24px;
    z-index: 2;
}
.header-button:hover {
    cursor: pointer;
}

/* Default to profile button being selected */
#profile-button {
    background-color: #8ECAE6;
    border: 1px solid #FFB703;
    border-bottom: 0px;
}

#sidebar-body {
    min-height: 300px;
    background-color: #8ECAE6;
    padding: 1em;
    color: var(--font);
}

.sidebar-item {
    display: none;
    flex-direction: column;
    align-items: center;
}

#profile-body {
    display: flex;
}

#more-filters-button {
    margin-top: 1em;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 16px;
}
#more-filters-button:hover {
    cursor: pointer;
}

#filter-display-area {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 0.2em;
}

#favorites-area {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#favorites-area ul {
    padding-left: 0;
    margin: 0;
    width: 100%;
}

#favorites-area li {
    list-style-type: none;
    border: 1px solid var(--tertiary);
    width: 90%;
    padding: 1em;
    margin: 10px 0;
    border-radius: 3px;
    font-size: 15px;
}

.favorite-text {
    color: var(--font);
    display: inline-block;
    margin-right: 12px;
}

#chef-container {
    margin-bottom: 1em;
}

#random-recipe-container {
    font-size: 20px;
}

.random-recipe-item {
    margin: 1em;
}

/*** RECIPES AREA PROPERTIES ***/
#recipes {
    display: inline-block;
    width: 70%;
    margin: 0;
    padding: 0;
}

.grid-area {
    width: 100%;
}

.grid-item {
    display: inline-block;
    margin: 1em;
    width: 350px;
}


.recipe-header-button {
    background: none;
    border: none;
}

.recipe-header-button {
    cursor: pointer;
    margin: 0 1em 2em 1em;
}

.recipe-header-button h2 {
    font-family: "Dosis";
    color: font;
}

.recipe-button-selected {
    border-bottom: 3px solid var(--font);
}

.recipe-container {
    display: none;
}

.recipe-container-selected {
    display: block;
}

#recipes-content {
    color: var(--font);
    padding: 1em;
    text-align: center;
}

.recipe-card {
    font-size: 16px;
    margin: auto;
    width: 100%;
}
.recipe-card a {
    font-size: 14px;
}

.recipe-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* vertical-align: middle; */
    padding: 1em;
    background-color: var(--tertiary);
    border: 3px solid var(--tertiary);
    border-bottom: 3px solid var(--alternate);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.recipe-card-body {
    vertical-align: middle;
    overflow: auto;
    padding: 1em;
    border: 3px solid var(--primary);
    border-top: none;
    border-bottom: none;
    height: 150px;
}

.recipe-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 1em;
    border: 3px solid var(--primary);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.recipe-card-footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.recipe-secondary-button-container {
    margin: 100px 0;
}

#pageination-container {
    margin: auto;
    text-align: center;
}

.pageination-button {
    color: var(--font);
    border-radius: 3px;
    padding: 5px 10px;
    margin: 2px;
    text-decoration: none;
    transition: background-color .3s;
}

.pageination-active {
    border: 3px solid var(--alternate);
    background-color: var(--tertiary);
    color: white;
}
.pageination-button:hover:not(.pageination-active) {
    cursor: pointer;
    background-color: #ddd;
}

.edit-button-container {
    margin-left: 15px;
}
.edit-button-container i {
    color: white;
}

.delete-button-container {
    margin-left: 10px;
}
.delete-button-container i {
    color: var(--font);
}

.footer-button-icon {
    color: var(--font);
    font-size: 2em;
    margin-left: 10px;
}

/*** MULTI USE ***/
.authenticated-only {
    display: none;
}

.tag {
    color: var(--font);
    font-size: 16px;
    padding: 0em 1em;
    border: 1px solid black;
    border-radius: 4px;
    opacity: 1;
    background-color: #fff;
}
.tag-category {
    background-color: var(--alternate);
}
.tag-author {
    background-color: var(--alternate2);;
}