/* Define color variables for themeing in the future */
:root {
    --primary: #8ECAE6;
    --secondary: #219EBC;
    --tertiary: #023047;
    --alternate: #FFB703;
    --alternate2: #FB8500;
    --font: #023047;
}

body {
    margin: 0;
    color: var(--font, black);
    font-family: Dosis, sans-serif;
}

/*** HEADER PROPERTIES ***/
#header {
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 1;
}

#header-bar {
    height: 70px;
    background-color: #8ECAE6;
    border: 1px solid #219EBC;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 0px;
}

#links-bar {
    position: relative;
    top: -5px;
    margin: 0 auto;
    height: 50px;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    background-color: #219EBC;
    border: 1px solid #023047;
    z-index: -1;
}

#links-bar i {
    color: var(--font);
    font-size: 24px;
    margin: 15px;
}

#links-bar a {
    margin: auto;
    text-decoration: none;
}

/*** INTRO PROPERTIES ***/
#intro {
    width: 100%;
    text-align: center;
}

#intro h1 {
    font-family: 'Bad Script', 'Brush Script MT', cursive;
    font-size: 96px;
    margin: 0.1em 0 0 0.5em;
}

#intro p {
    width: 55%;
    margin: auto;
    font-size: 20px;
}

/*** MAIN CONTENT LAYOUT PROPERTIES ***/
#main-content-area {
    width: 100%;
    /* height: 100%; */
}

#main-content-area section {
    margin: 2em 0 0 1em;
    float: left;
}

/*** SIDEBAR PROPERTIES ***/
#sidebar {
    position: sticky;
    top: 100px;
    width: 25%;
    max-width: 330px;
    min-width: 250px;
}

#sidebar-content {
    padding: 1em;
    text-align: center;
}

#sidebar-header {
    background-color: var(--tertiary);
    display: flex;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    margin: 0;
}

.header-button {
    height: 60px;
    width: 60px;
    border: none;
    background: none;
    color: var(--alternate);
    font-size: 24px;
    z-index: 2;
}
.header-button:hover {
    cursor: pointer;
}

/* Default to profile button being selected */
#profile-button {
    background-color: #8ECAE6;
    border: 1px solid #FFB703;
    border-bottom: 0px;
}

#sidebar-body {
    min-height: 300px;
    background-color: #8ECAE6;
    padding: 1em;
    color: var(--font);
}

.sidebar-item {
    display: none;
    flex-direction: column;
    align-items: center;
}

#profile-body {
    display: flex;
}

#search-input {
    height: 20px;
    width: 75%;
    margin-bottom: 1em;
    border: 1px solid var(--alternate2);
    border-radius: 8px;
}
#search-input:focus {
    outline: none;
    transform: translate(2.5px, 1.5px);
    box-shadow: inset 2.5px 1.5px var(--alternate2);
}

#more-filters-button {
    margin-top: 1em;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
    font-size: 16px;
}
#more-filters-button:hover {
    cursor: pointer;
}

#filter-display-area {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 0.2em;
}

/*** RECIPES AREA PROPERTIES ***/
#recipes {
    width: 70%;
}

#recipes-content {
    color: var(--font);
    padding: 1em;
    text-align: center;
}

/*** MULTI USE ***/
.standard-button {
    margin: 0 0.5em;
    padding: 0.5em 1em;
    background-color: var(--alternate);
    border: 1px solid var(--alternate2);
    border-radius: 5px;
    box-shadow: 1px 2px var(--alternate2);
}
.standard-button:hover {
    cursor: pointer;
    box-shadow: 2px 3.5px var(--alternate2);
    transform: translate(-1px, -1.5px);
}
.standard-button:active {
    box-shadow: 0px 0px;
    transform: translate(0px, 0px);
  }